/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.challenge {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #ffffff;
    background-color: #fffae8;
  }

.problems {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #ffffff;
    background-color: #fffae8;
  }

.results {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #ffffff;
    background-color: #fffae8;
  }

.special {
    background-color: rgb(255, 232, 254);
    border: dotted 50px rgb(145, 138, 245);
    color: rgb(135, 140, 157);
    font-weight: bold;
}