/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.challenge {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

.special {
    background-color: rgb(250, 230, 240);
    border: dotted 50px rgb(0, 13, 255);
    color: rgb(207, 192, 255);
    font-weight: bold;
}