h1 {
    color:#fa0000;
    font-size: 200%;
}

p {
    text-indent: 20px;
    margin-left: 10px;
}

#content {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #ff7f7f;
    background-color: #fff6d2;
    font-family:'Courier New', Courier, monospace
  }